# Security credentials for backup.
[mysqldump]
user=backupuser
password=dFTrC512wHk3MCG7J@089t{bm,F,Njyu

[xtrabackup]
user=backupuser
password=dFTrC512wHk3MCG7J@089t{bm,F,Njyu

[mysqld]
#Authentication for SST method
wsrep_sst_auth="backupuser:dFTrC512wHk3MCG7J@089t{bm,F,Njyu"
