#
# my.cnf template for clustercontroller
# Copyright (C) 2011-2017 severalnines.com
#

[MYSQLD]
#skip_name_resolve=ON
user=mysql
basedir=/usr/
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
pid-file=/var/lib/mysql/mysql.pid
port=3306
log_error=/var/log/mysql/mysqld.log
# log_output = FILE

tmpdir=/tmp

#Slow logging
slow_query_log_file=/var/log/mysql/mysql-slow.log
long_query_time=2
slow_query_log=OFF
log_slow_admin_statements=ON
log_queries_not_using_indexes=OFF
log_throttle_queries_not_using_indexes=1

### INNODB OPTIONS
innodb_buffer_pool_size=512M
innodb_flush_log_at_trx_commit=2
innodb_file_per_table=1
innodb_data_file_path=ibdata1:100M:autoextend
## You may want to tune the below depending on number of cores and disk sub
innodb_read_io_threads=4
innodb_write_io_threads=4
innodb_doublewrite=1
innodb_log_file_size=256M
innodb_log_buffer_size=32M
innodb_buffer_pool_instances=1
innodb_log_files_in_group=2
innodb_thread_concurrency=0
# innodb_file_format = barracuda
innodb_flush_method = O_DIRECT
# innodb_locks_unsafe_for_binlog = 1
innodb_autoinc_lock_mode=2
## avoid statistics update when doing e.g show tables
innodb_stats_on_metadata=0
default_storage_engine=innodb

# CHARACTER SET
# collation_server = utf8_unicode_ci
# init_connect = 'SET NAMES utf8'
# character_set_server = utf8

# REPLICATION SPECIFIC
server_id=12000
binlog_format=ROW
log_bin=binlog
log_slave_updates=ON
gtid_mode=ON
enforce_gtid_consistency=ON
relay_log=relay-bin
binlog_expire_logs_seconds=604800
max_binlog_size=104857600
log_bin_trust_function_creators=OFF

# Replication safety (from 5.6 and onwards)
relay_log_recovery=ON


# OTHER THINGS, BUFFERS ETC
tmp_table_size = 64M
max_heap_table_size = 64M
max_allowed_packet = 512M
# sort_buffer_size = 256K
# read_buffer_size = 256K
# read_rnd_buffer_size = 512K
# myisam_sort_buffer_size = 8M

memlock=0
sysdate_is_now=1
max_connections=150
thread_cache_size=512
table_open_cache=1024
lower_case_table_names=0
# 5.6 backwards compatibility (FIXME)
# explicit_defaults_for_timestamp = 1
### Allow partial REVOKEs
partial_revokes=1

##
## WSREP options
##

performance_schema = ON
performance_schema_max_mutex_classes = 0
performance_schema_max_mutex_instances = 0

# Full path to wsrep provider library or 'none'
wsrep_provider=/usr/lib64/libgalera_smm.so
wsrep_on=ON
wsrep_node_address=CHANGE_ME

# Provider specific configuration options
#wsrep_provider_options="gcache.size=512M;gmcast.segment=0;socket.ssl_cert=/etc/mysql/certs/server.crt;socket.ssl_key=/etc/mysql/certs/server.key;socket.ssl_ca=/etc/mysql/certs/server_ca.crt"
wsrep_provider_options="gcache.size=512M;gmcast.segment=0;"

# Logical cluster name. Should be the same for all nodes.
wsrep_cluster_name=CHANGE_ME

# Group communication system handle
wsrep_cluster_address="gcomm://"

# Human_readable node name (non-unique). Hostname by default.
wsrep_node_name=CHANGE_ME

# Address for incoming client connections. Autodetect by default.
# wsrep_node_incoming_address = CHANGE_ME

# How many threads will process writesets from other nodes
wsrep_slave_threads=4

# DBUG options for wsrep provider
#wsrep_dbug_option

# Generate fake primary keys for non-PK tables (required for multi-master
# and parallel applying operation)
wsrep_certify_nonPK=1

# Location of the directory with data files. Needed for non-mysqldump
# state snapshot transfers. Defaults to mysql_real_data_home.
#wsrep_data_home_dir=

# Maximum number of rows in write set (default)
wsrep_max_ws_rows=0

# Maximum size of write set (default)
wsrep_max_ws_size=2G

# to enable debug level logging, set this to 1
wsrep_debug=0

# how many times to retry deadlocked autocommits
wsrep_retry_autocommit=1

# change auto_increment_increment and auto_increment_offset automatically
wsrep_auto_increment_control=1

# replicate myisam, not supported in PXC 5.7
wsrep_replicate_myisam=0

# enable "strictly synchronous" semantics for read operations
wsrep_causal_reads=0

# Command to call when node status or cluster membership changes.
# Will be passed all or some of the following options:
# --status  - new status of this node
# --uuid    - UUID of the cluster
# --primary - whether the component is primary or not ("yes"/"no")
# --members - comma-separated list of members
# --index   - index of this node in the list
#wsrep_notify_cmd=

##
## WSREP State Transfer options
##

# State Snapshot Transfer method
# ClusterControl currently DOES NOT support wsrep_sst_method=mysqldump
wsrep_sst_method=xtrabackup-v2

# Address on THIS node to receive SST at. DON'T SET IT TO DONOR ADDRESS!!!
# (SST method dependent. Defaults to the first IP of the first interface)
#wsrep_sst_receive_address=

# Desired SST donor name.
#wsrep_sst_donor=

# Protocol version to use
# wsrep_protocol_version=

# log conflicts
wsrep_log_conflicts=1

#ssl_ca=/etc/mysql/certs/ca.pem
#ssl_cert=/etc/mysql/certs/server-cert.pem
#ssl_key=/etc/mysql/certs/server-key.pem
#pxc_encrypt_cluster_traffic=ON

[sst]
#encrypt=4
#ssl-ca=/etc/mysql/certs/ca.pem
#ssl-cert=/etc/mysql/certs/server-cert.pem
#ssl-key=/etc/mysql/certs/server-key.pem

[MYSQL]
socket=/var/lib/mysql/mysql.sock
# default_character_set = utf8
[client]
socket=/var/lib/mysql/mysql.sock
# default_character_set = utf8

[mysqldump]
max_allowed_packet = 512M
# default_character_set = utf8

# IMPORTANT: The user/password in wsrep_sst_auth must match
# user/password in [xtrabackup]
[xtrabackup]


[MYSQLD_SAFE]
# log_error = /var/log/mysqld.log
pid-file=/var/lib/mysql/mysql.pid
basedir=/usr/
# datadir = /var/lib/mysql

!include /etc/my.cnf.d/secrets-backup.cnf